@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  --background-color: #f0f0f0;
  --text-color: #333;
  --primary-color: #4CAF50;
  --secondary-color: #FFC107;
  --white: #fff;
}

[data-theme="dark"] {
  --background-color: #333;
  --text-color: #f0f0f0;
  --primary-color: #4CAF50;
  --secondary-color: #FFC107;
  --white: #444;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: url('https://live.staticflickr.com/65535/50595337542_b5c747635b_b.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#theme-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px;
  background: var(--primary-color);
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
